:root {
    /*  GRAY COLOR PALETTE  */
    --primary-color-black: #1C1D1E;           /* Eerie Black    */
    --primary-color-black2: #333537;          /* Jet            */
    --primary-color-black3: #4D5052;          /* Feldgrau       */
    --primary-color-black4: #666A6D;          /* Dim Gray       */
    --primary-color-white: #E8E9E9;           /* Platinum       */
    --primary-color-white2: #D1D3D4;          /* Platinum       */
    --primary-color-white3: #BABDBF;          /* Gray           */
    --primary-color-white4: #808488;          /* Light Gray     */

}


/*
  ========================================
  CSS RESET   
    https://www.joshwcomeau.com/css/custom-css-reset/ 
  ========================================
*/
/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
}
/*
2. Remove default margin
*/
* {
    margin: 0;
}
/*
3. Allow percentage-based heights in the application
*/
html, body {
    height: 100%;
}
/*
Typographic tweaks!
4. Add accessible line-height
5. Improve text rendering
*/
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
/*
6. Improve media defaults
*/
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
/*
7. Remove built-in form typography styles
*/
input, button, textarea, select {
    font: inherit;
}
/*
8. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
/*
9. Create a root stacking context
*/
#root, #__next {
    isolation: isolate;
}


/*
  ========================================
  Font from Google 
    (https://fonts.google.com/specimen/Solitreo)
  ========================================
*/
:root {
    --primary-font: 'Solitreo', cursive;
}

body {
    font-family: var(--primary-font, sans-serif);
}

/*
  ========================================
  Outline for Development
  ========================================
*/
/* * { outline: 1px solid red !important; } */

/*
  ========================================
  Basic Styling
  ========================================
*/
section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color-white4, #666A6D);
}

/*
  ========================================
  Navigation 
  ========================================
*/  
header {
    background-color: var(--primary-color-black2, black);
    position: fixed;
    top: 0; 
	left: 0; 
	right: 0; 
}

header ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 0;
}

header li {
    width: 25%;
    text-align: center;
}

header li a {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    color: var(--primary-color-white, #FFF);
}

footer {
    background-color: var(--primary-color-black4, black);
}

footer ul {
    list-style: none;
    padding: 0 10%;
}

footer li {
    text-align: right;
    height: 2%;
    
}

footer li a {
    color: var(--primary-color-white, #FFF);
    margin-right: 5%;
}

li:hover {
    background-color: var(--primary-color-white, #FFF);
}

li:hover a {
    color: var(--primary-color-black2, #000);
}


/*
  ========================================
  Polaroid Gallery
    https://css-tricks.com/css-infinite-slider-flipping-through-polaroid-images/
  ========================================
*/
section {
    overflow: hidden; /* Hide scrollbar horizontally */
}

.gallery {
    display: grid;
    width: max(25vh, 25vw);
}

.gallery > img {
    grid-area: 1 / 1;
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    border: .5em solid var(--primary-color-white2);
    box-shadow: 0 0 .25em var(--primary-color-black);
    /* Animation properties */
    z-index: 2;
    animation: slide 8s infinite, z-order 8s infinite steps(1);
}

.gallery > img:last-child {
    animation-name: slide, z-order-last;
}

.gallery > img:nth-child(2) { animation-delay: -2s; } /* ((1 - index)/#pics) * duration */
.gallery > img:nth-child(3) { animation-delay: -4s; }
.gallery > img:nth-child(4) { animation-delay: -6s; }

@keyframes slide {
    12.25% { transform: translateX(120%); }     /* 50 / #pics */
    25.00% { transform: translateX(0%); }       /* 100 / #pics */
}

@keyframes z-order {
    12.25%,                                     /* 50 / #pics */    
    25.00% { z-index: 1; }                      /* 100 / #pics */
    75.00% { z-index: 2; }                      /* 100 - 100 / #pics */
}

@keyframes z-order-last {
    12.25%,                                     /* 50 / #pics */
    25.00% { z-index: 1; }                      /* 100 / #pics */
    87.50% { z-index: 2; }                      /* 100 - 50 / #pics */
}

/* "Random" rotation to make the images look like polaroids [-20deg, +20deg] */
.gallery > img:nth-child(1) { rotate: 10deg; } 
.gallery > img:nth-child(2) { rotate: -12.5deg; } 
.gallery > img:nth-child(3) { rotate: 5deg; }
.gallery > img:nth-child(4) { rotate: -20deg; }

/* Sliding all sides */
@keyframes slide-right {
    12.25% { transform: translateX(120%); }     /* 50 / #pics */
    25.00% { transform: translateX(0%); }       /* 100 / #pics */
}
@keyframes slide-left {
    12.25% { transform: translateX(-120%); }     /* 50 / #pics */
    25.00% { transform: translateX(0%); }       /* 100 / #pics */
}
@keyframes slide-top {
    12.25% { transform: translateY(120%); }     /* 50 / #pics */
    25.00% { transform: translateY(0%); }       /* 100 / #pics */
}
@keyframes slide-bottom {
    12.25% { transform: translateY(-120%); }     /* 50 / #pics */
    25.00% { transform: translateY(0%); }       /* 100 / #pics */
}

.gallery > img:nth-child(1){
    animation-name: slide-left, z-order;
}
.gallery > img:nth-child(2){
    animation-name: slide-top, z-order;
}
.gallery > img:nth-child(3){
    animation-name: slide-bottom, z-order;
}