:root {
    /*  GRAY COLOR PALETTE  */
    --primary-color-black: #1C1D1E;           /* Eerie Black    */
    --primary-color-black2: #333537;          /* Jet            */
    --primary-color-black3: #4D5052;          /* Feldgrau       */
    --primary-color-black4: #666A6D;          /* Dim Gray       */
    --primary-color-white: #E8E9E9;           /* Platinum       */
    --primary-color-white2: #D1D3D4;          /* Platinum       */
    --primary-color-white3: #BABDBF;          /* Gray           */
    --primary-color-white4: #808488;          /* Light Gray     */
}

/*
  ========================================
  Font from Google 
    (https://fonts.google.com/specimen/Solitreo)
  ========================================
*/
:root {
    --primary-font: 'Solitreo', cursive;
}

body {
    font-family: var(--primary-font, sans-serif);
}

/*
  ========================================
  Outline for development purpose
  ========================================
*/
/* * { outline: 1px solid red !important; } */


/*
  ========================================
  Card title inside
    https://codepen.io/daviddarnes/pen/oEEqdp?editors=1100
  ========================================
*/
section {
    display: grid;
    min-height: 100vh;
    place-items: center;
}

.card-heading {
    margin: 1rem 1rem -.5rem 0;
    font-size: 2rem;
}

.heading-frame {
    display: grid;
    box-shadow: 0 3px 6px #000;
    grid-template-columns: max-content;
    grid-template-rows: auto max-content;
    background: #333 center;
    background-size: cover;
    color: white;
    width: 80vw;
    height: 80vh;
    padding: 2rem;
}

.heading-frame::before, .heading-frame:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    border: 2px solid white;
}

.heading-frame:before {
    grid-row: 1 / 2;
    border-right: none;
    border-bottom: none;
}

.heading-frame:after {
    grid-row: 1 / span 2;
    border-left: none;
}

/*
  ========================================
  Navigation Menu
    https://youtu.be/GSPUUN4nDGE
  ========================================
*/

main {
    position: relative;
    z-index: 1;
}

#nav-toggle {
    height: 5rem;
    width: 5rem;
    position: fixed;
    left: 50%;
    bottom: 3rem;
    z-index: 3;
    transform: translateX(-50%);
    background-color: var(--primary-color-white4 ,rgb(182,142,113));
    border: none;
    border-radius: 5rem;
    outline: none;
    box-shadow: 0 0 4rem rgba(0 0 0 / 35%);
    cursor: pointer;
    transition: transform, background-color;
    transition-timing-function: ease;
    transition-duration: 400ms;
}

#nav-toggle:hover {
    transform: translateX(-50%) scale(1.05);
}

#nav-toggle:active {
    transform: translateX(-50%) scale(0.95);
}

#nav-toggle > i {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0.9);
    color: var(--primary-color-white,rgb(246, 231, 224));
    font-size: 1.75rem;
    opacity: 0;
}

body:not([data-nav="true"]) > #nav-toggle > .open {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

body[data-nav="true"] > #nav-toggle > .close {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

main {
    transition: transform 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

body[data-nav="true"] > main {
    transform: translateY(-50vh);
}

#nav-links > .nav-link {
    text-decoration: none;
}

#nav-links > .nav-link > .nav-link-label {
    color: var(--primary-color-white3,black);
    font-size: 1.25rem;
    margin: 0;
    text-transform: uppercase;
}

#nav-links > .nav-link > .nav-link-image {
    width: max(20vw, 400px);
    aspect-ratio: 1.8 / 1;
    border-radius: 0.5rem;
    margin-top: 0.75rem;
    object-fit: cover;
}

nav {
    height: 50vh;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 2;
    background-color: var(--primary-color-black2 ,#BABDBF);
    overflow: hidden;
    transform: translateY(100%);
    transition: transform 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

#nav-links {
    display: flex;
    gap: clamp(1rem, 2vw, 2rem);
    margin-top: clamp(2rem, 2vw, 2rem);
    padding: 0 clamp(1rem, 2vw, 2rem);
    transform: translateY(80%) scale(0.9);
    transition: transform 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

body[data-nav="true"] > nav > #nav-links {
    transform: translateY(0%) scale(1);
}

body[data-nav="true"] > nav {
    transform: translateY(0%);
}