:root {
    /*  GRAY COLOR PALETTE  */
    --primary-color-black: #1C1D1E;           /* Eerie Black    */
    --primary-color-black2: #333537;          /* Jet            */
    --primary-color-black3: #4D5052;          /* Feldgrau       */
    --primary-color-black4: #666A6D;          /* Dim Gray       */
    --primary-color-white: #E8E9E9;           /* Platinum       */
    --primary-color-white2: #D1D3D4;          /* Platinum       */
    --primary-color-white3: #BABDBF;          /* Gray           */
    --primary-color-white4: #808488;          /* Light Gray     */
}
/*
  ========================================
  Outline for development purpose
  ========================================
*/
/* * { outline: 1px solid red !important; } */

/*
  ========================================
  Font from Google 
    (https://fonts.google.com/specimen/Solitreo)
  ========================================
*/
:root {
    --primary-font: 'Solitreo', cursive;
}

body {
    font-family: var(--primary-font, sans-serif);
}

/*
  ========================================
  Basic Styling
  ========================================
*/
section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}

/*
  ========================================
  Image hover effect
    https://codepen.io/MEDALI1977/pen/VwaREaV?editors=1100
  ========================================
*/
img {
    width: 30%;
    height: 100%;
    object-fit: cover;
    margin: 0 1em;
    border: 0.25em solid var(--primary-color-black2, gray);

    transform-origin: center;
    transform: perspective(800px) rotateY(30deg);
    transition: .4s;
}

.container {
    display: flex;
    padding: 0 1em;
}

.container:hover img {
    opacity: 0.1;
}

.container img:hover {
    transform: perspective(800px) rotateY(0deg);
    opacity: 1;
}

@media screen and (max-width: 450px){
    img {
        width: 100%;
        margin: 1em 0;
        transform: none;
    }
    
    .container {
        display: flex;
        flex-direction: column;
        padding: 5em 1em;
    }
}

/*
  ========================================
  Full Screen Menu
    https://codepen.io/kiran-r-raj/pen/GRWQPeY?editors=0110
  ========================================
*/

.menu-overlay {
    width: 100vw;
    height: 100vh;
    position: absolute;
    overflow: hidden;
    z-index: 100;
    transform: translateY(-110%);
    transition: transform 0.5s ease;
    background: linear-gradient(to right,var(--primary-color-black2, gray), white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.list {
    position: relative;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.list li {
    height: 100px;
    width: 250px;
    padding: 20px;
}

.list a {
    font-size: 2rem;
    text-decoration: none;
    color: black;
    display: block;
    border-bottom: 2px solid transparent;
    transition: all .4s ease;
}

.list a:hover {
    border-bottom: 2px solid red;
    color: var(--primary-color-black, black);
}

.menu-overlay .fas {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 2.5rem;
    transition: all 0.3s ease;
    z-index: 100;
}

.menu-overlay .fas:hover {
    color: black;
    transform: scale(1.1) rotate(180deg);
}

.menu {
    position: absolute;
    right: 20px;
    top: 20px;
}

.fas {
    font-size: 2rem;
    color: gray;
}

.fas:hover {
    color: white;
}

@media screen and (max-width: 650px) {
    .list a {
        font-size: 1.4rem;
    }
}
  
@media screen and (max-width: 450px) {
    .list {
        display: flex;
        flex-direction: column;
    }
}